@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

.nvbar {
    background-color: rgba(0,0,0,.2);
    width: 360px;
    height: 110px;
}

.nvb1 {
    background-color: rgba(0,0,0,.2);
    width: 360px;
    height: 60px;
    display: flex;

}

.ytlogo {
    background-color: rgba(0,0,0,.2);
    width: 150px;
    height: 60px;
}
.ytlogo img {
    margin-left: -10px;
    margin-top: -10px;
    width: 250px;
    height: 150px;
}

.tmenu {
    background-color: rgba(0,0,0,.2);
    position: relative;
    top: 0;
    left: 40px;
    width: 170px;
    height: 60px;
    align-items: center;
}

ul {
  position: relative;
  display: flex;
  float: right;
  margin-right: 10px;
  top: 0;
}

li {
  padding-left: 13px;
}