@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

.nvbar {
    background-color: rgba(0,0,0,.2);
    width: 360px;
    height: 90px;
}

.nvb1 {
    background-color: rgba(0,0,0,.2);
    width: 360px;
    height: 50px;
    display: flex;

}

.ytlogo {
    background-color: rgba(0,0,0,.2);
    width: 150px;
    height: 50px;
}
.ytlogo h2 {
  margin: 0;
  padding: 0;
}
.tmenu {
    background-color: rgba(0,0,0,.2);
    position: relative;
    top: 0;
    left: 40px;
    width: 170px;
    height: 50px;
    align-items: center;
}

ul {
  position: relative;
  display: flex;
  float: right;
  margin-right: 10px;
  top: 0;
}

li {
  padding-left: 20px;
  list-style: none;
}

.nvb2 {
  background: rgba(0,0,0,.2);
  width: 360px;
  height: 40;
  margin-top: -22px;
}
.nvbex {
  position: relative;
  top: 5px;
  left: 2px;
  background-color: rgba(2,2,2,.2);
  width: 120px;
  height: 30px;
  border-right: 1px solid black;
}

div.Explore {
  margin: auto;
  background-color: black;
  width: 90px;
  height: 30px;
  text-align: center;
  position: relative;
  left: 10px;
}

.Explore h4 {
  position: relative;
  top: 4px;
}