@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

.nvbar {
    background-color: rgba(0,0,0,.2);
    width: 100%;
    height: 250px;
}

.nvb1 {
    background-color: rgba(0,0,0,.2);
    width: 100%;
    height: 125;
    display: flex;

}

.ytlogo {
    background-color: rgba(0,0,0,.2);
    width: 250px;
    height: 125px;
}
.ytlogo img {
    margin-left: -10px;
    margin-top: -10px;
    width: 250px;
    height: 150px;
}

.tmenu {
    background-color: rgba(0,0,0,.2);
    position: relative;
    top: 0;
    left: 100px;
    width: 370px;
    height: 125px;
    align-items: center;
}
ul {
    display: flex;
    margin-top: 40px;
    margin-left: 30px;
}
li {
    width: 300px;
}