@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' sans-serif;
}

.nvbar {
    width: 360px;
    height: 90px;
}

.nvb1 {
    width: 360px;
    height: 50px;
    display: flex;
    border-bottom: 1px solid lightgray;
    box-shadow: 0px 0px 5px 0px darkgray;
}
.ytlogo {
    width: 150px;
    height: 50px;
}
.ytlogo img {
  margin: 0;
  padding: 0;
  width: 80%;
  height: 60%;
  position: relative;
  top: 10px;
  left: 10px;
}
.tmenu {
    position: relative;
    top: 0;
    left: 40px;
    width: 170px;
    height: 50px;
    align-items: center;
}
.tmenu ul {
  position: relative;
  display: flex;
  float: right;
  margin-right: 10px;
  top: 0;
}
.tmenu li {
  padding-left: 20px;
  list-style: none;
}

.nvb2 {
  width: 360px;
  height: 40;
  margin-top: -22px;
  border-bottom: 1px solid lightgray;
}
.nvbex {
  position: relative;
  top: 5px;
  left: 2px;
  width: 120px;
  height: 30px;
  border-right: 1px solid black;
}
div.Explore {
  margin: auto;
  width: 90px;
  height: 30px;
  text-align: center;
  position: relative;
  left: 10px;
}
.Explore h4 {
  position: relative;
  top: 4px;
  font-weight: lighter;
}
.Explore a {
  color: #000;
  text-decoration: none;
}

.bmenu {
  position:fixed;
  bottom: 0px;
  left: 0px;
  width: 360px;
  height: 70px;
  z-index: 2;
  border-top: 1px solid lightgray;
}
.bmenu ul {
  display: flex;
  list-style: none;
  position: relative;
  top: -10px;
}
.bmenu li {
}
.bmenu div {
  text-align: center;
  position: relative;
  left: -40px;
  padding: 3px 15px 1px;
}
.bmenu img {
  width: 32px;
  height: 32px;
}
.bmenu a {
  text-decoration: none;
  color: #000;
}


.content {
  background-color: rgba(0,0,0,.2);
  width: 360px;
  height: 526px;
  overflow: hidden;
  overflow-y: scroll;
  z-index: -1;
}
.video1 {
  width: 360px;
  height: 250px;
  background-color: rgba(34,23,19,.7);
  padding: 10px
}
.thumbnail1 {
  background-color: yellowgreen;
  width: 340px;
  height: 180px;
  border-radius: 20px;
  overflow: hidden;
}
.thumbnail1 img {
  width: 100%;
  height: 100%;
}
.title1 {
  width: 340px;
  height: 60px;
  background-color: yellowgreen;
  margin-top: 10px;
  display: flex;
}
.channel1 {
  width: 70px;
  height: 60px;
  background-color: seagreen;
  margin-right: 1px;
}
.channel1 img {
  width: 90%;
  height: 100%;
  border-radius: 1000px;
  margin-left: 3px;
}
.titlebar1 {
  width: 269px;
  height: 60px;
  background-color: seagreen;
}
.video_title {
  width: 269px;
  height: 40px;
  background-color: rgba(0,0,0,.3);
}
.video_title p {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.video_view {
  width: 269px;
  height: 20px;
  background-color: rgba(0,0,0,.3);
}
.video1 a {
  text-decoration: none;
  color: black;
}
